// Foundation 6
// https://get.foundation/sites/docs/xy-grid.html

// --- Dependencies ---
@import '../node_modules/foundation-sites/scss/vendor/normalize';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/helpers/true';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/contain';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/purge';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/remove';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/replace';
@import '../node_modules/foundation-sites/_vendor/sassy-lists/stylesheets/functions/to-list';

////
// Global Mixins
// No css is generated if the mixin is not used.
////

// Utilities
@import '../node_modules/foundation-sites/scss/util/util';
// Global styles
@import '../node_modules/foundation-sites/scss/forms/forms';
@import '../node_modules/foundation-sites/scss/typography/typography';
// Grids
@import '../node_modules/foundation-sites/scss/xy-grid/xy-grid';
// Generic components
@import '../node_modules/foundation-sites/scss/components/button';
@import '../node_modules/foundation-sites/scss/components/button-group';
@import '../node_modules/foundation-sites/scss/components/label';
@import '../node_modules/foundation-sites/scss/components/table';
@import '../node_modules/foundation-sites/scss/components/close-button';
@import '../node_modules/foundation-sites/scss/components/switch';
@import '../node_modules/foundation-sites/scss/components/progress-bar';
// Basic components
@import '../node_modules/foundation-sites/scss/components/badge';
@import '../node_modules/foundation-sites/scss/components/breadcrumbs';
@import '../node_modules/foundation-sites/scss/components/callout';
@import '../node_modules/foundation-sites/scss/components/card';
@import '../node_modules/foundation-sites/scss/components/pagination';
// Containers
@import '../node_modules/foundation-sites/scss/components/responsive-embed';
@import '../node_modules/foundation-sites/scss/components/media-object';
@import '../node_modules/foundation-sites/scss/components/thumbnail';
// Menu-based containers
@import '../node_modules/foundation-sites/scss/components/menu';
@import '../node_modules/foundation-sites/scss/components/menu-icon';
// Layout components
@import '../node_modules/foundation-sites/scss/components/title-bar';
@import '../node_modules/foundation-sites/scss/components/top-bar';
// Helpers
@import '../node_modules/foundation-sites/scss/components/float';
@import '../node_modules/foundation-sites/scss/components/flex';
@import '../node_modules/foundation-sites/scss/components/visibility';
//@import '../node_modules/foundation-sites/scss/prototype/prototype';

////
// Default Included styles
// Uncomment or comment out as needed
////
  @include foundation-forms;
  @include foundation-typography;
  @include foundation-xy-grid-classes;

// Generic components
  @include foundation-button;
  //@include foundation-button-group;
  //@include foundation-close-button;
  @include foundation-label;
  //@include foundation-progress-bar;
  //@include foundation-switch;
  @include foundation-table;
// Basic components
  //@include foundation-badge;
  //@include foundation-breadcrumbs;
  //@include foundation-callout;
  //@include foundation-card;
  //@include foundation-pagination;

// Containers
  //@include foundation-media-object;
  //@include foundation-responsive-embed;
  //@include foundation-thumbnail;
// Menu-based containers
  //@include foundation-menu;
  //@include foundation-menu-icon;

// Layout components
  //@include foundation-title-bar;
  //@include foundation-top-bar;

// Helpers
  @include foundation-float-classes;
  @include foundation-visibility-classes;


////
// Global Default Styles
////
html {
  box-sizing: border-box;
  font-size: $global-font-size;
}

// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Default body styles
body {
  margin: 0;
  padding: 0;

  background: $body-background;

  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  color: $body-font-color;

  @if ($body-antialiased) {
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  }
}

img {
  // Get rid of gap under images by making them display: inline-block; by default
  display: inline-block;
  vertical-align: middle;

  // Grid defaults to get images and embeds to work properly
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

// Make sure textarea takes on height automatically
textarea {
  height: auto;
  min-height: 50px;
  border-radius: $global-radius;
}

// Make select elements are 100% width by default
select {
  box-sizing: border-box;
  width: 100%;
  border-radius: $global-radius;
}

// Styles Google Maps and MapQuest embeds properly
// sass-lint:disable-line no-ids
.map_canvas,
.mqa-display {
  img,
  embed,
  object {
    max-width: none !important;
  }
}

// Reset <button> styles created by most browsers
button {
  @include disable-mouse-outline;
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: $global-radius;
  background: transparent;
  line-height: 1;
  cursor: $global-button-cursor;
}

// Prevent text overflow on pre
pre {
  overflow: auto;
}

// Make reset inherit font-family instead of settings sans-serif
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
