{% set classes = [
  'layout',
  'layout-section',
  'layout--twocol-section',
  ]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>

    {% if add_container %}
      <div class="container">
    {% endif %}
      {% if content.first %}
        <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
          {{ content.second }}
        </div>
      {% endif %}
    {% if add_container %}
      </div>
    {% endif %}
  </div>
{% endif %}

