{% extends 'page.html.twig' %}

{% block title_section %}
{% endblock %}

{% block main %}
<div class="section values">
  <div class="container">
    <div class="row">
      <div class="column small-10 align-center">
       <div class="row">
          <div class="small-12 large-6 columns">
            {{ page.sidebar_first }}
          </div><!-- columns -->
          <div class="small-12 large-6 columns">
            {{ page.sidebar_second }}
          </div><!-- columns -->
       </div><!-- row -->
      </div><!-- column -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- section -->
{% endblock %}
