<div id="wrapper" >
<div class="mp-pusher" id="mp-pusher">
<nav id="mp-menu" class="mp-menu">

</nav>

<header class="section top-nav">
  <div class="container">
    <div class="row">
      <div class="columns">
        <div id="topnav" >
          {{ page.navigation }}
        </div><!-- End of top-nav -->
      </div><!-- columns -->
    </div><!-- row -->
  </div><!-- container -->
</header><!-- section -->

<nav class="section navigation">
  <div class="container">
    <div class="row top-bar">
      <div class="top-bar-left columns">
        <a href="/" class="logo"><img src="{{ base_path ~ directory }}/images/logo.png" alt="{{ site_name }}" /></a>
      </div><!-- columns -->
      <div class="top-bar-right columns">
        <a href="#" id="menu-trigger"><i class="fas fa-3x fa-bars"></i></a>
        <nav class="mainnav">
          {{ page.header }}
        </nav><!-- sidr-main -->
      </div><!-- columns -->
    </div><!-- row -->
  </div><!-- container -->
</nav><!-- section -->

{% block title_section %}
<div class="section page-title">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>{{ title }}</h1>
      </div><!-- column -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- section -->
{% endblock %}

{% block main %}
<div class="section subpage">
  <div class="container">
    <div class="row">
      {% if page.sidebar_first|render|striptags|trim|length > 0%}
        <aside id="sidebar-first" class="{{ sidebar_first_grid }} columns sidebar" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}
      <main id="main" class="{{ main_grid }} columns" role="main">
        <a id="main-content"></a>
        {% if breadcrumb %} {{ breadcrumb }} {% endif %}
        <section>
          {{ page.content }}
        </section>
      </main>
      {% if page.sidebar_second|render|striptags|trim|length > 0 %}
        <aside id="sidebar-second" class="{{ sidebar_sec_grid }} columns sidebar" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>
  </div><!-- container -->
</div><!-- section -->
{% endblock %}

<div class="section footer">
  <div class="container">
    <div class="row">
      <div class="small-12 medium-7 columns disclaimer">
        {{ page.footer }}
      </div><!-- disclaimer -->
      <div class="small-12 medium-5 columns affiliates">
        <div class="siteby">
          Site by <a href="http://www.devvly.com" target="_blank" title="Site by Devvly">Devvly</a>
        </div><!-- end footer-copy -->
      </div><!-- affiliates -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- section -->

</div>
</div><!-- End of wrapper -->
