.block-type-quote {
  text-align: center;
  padding: 60px 0 40px 0;
  @media only screen and (min-width : 64em) {
    padding: 124px 0 75px 0;
  }

  .container {
    flex-direction: column;
  }

  .field--name-body {
    font-weight: 700;
    color: $primary;
    font-size: rem-calc(24);
    line-height: 32px;
    margin-bottom: 10px;
  }

  .field--name-field-name {
    color: $dark-gray;
    font-size: rem-calc(24);
    line-height: 32px;
  }
}
