.block-type-accordion {
  background-color: $gray_lighter;

  &.color-scheme-blue {
    background-color: $primary;

    .field--name-field-paragraphs {
      color: $white;

      & > .field__item {
        border-bottom: 1px solid $primary_light;

        .paragraph--type--accordion-item.active {
          .field--name-field-title {
            color: $white;

            &:after {
              background: url('data:image/svg+xml;utf8,<svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.33438 0.845998L0.908383 2.272C0.453716 2.72666 0.226383 3.11933 0.226383 3.45C0.267716 3.73933 0.515716 4.11133 0.970383 4.566L11.0144 14.548L0.970383 24.53C0.515716 24.9847 0.267716 25.3773 0.226383 25.708C0.226383 25.9973 0.453716 26.3693 0.908383 26.824L2.33438 28.25L15.0444 15.664C15.8297 14.92 15.8297 14.176 15.0444 13.432L2.33438 0.845998Z" fill="%23ffffff"/> </svg>') no-repeat 50% 50%;
              background-size: 12px 24px;
              transform: rotateZ(90deg);
            }
          }
        }
      }
    }

    .field--name-field-title {
      color: $primary_dark;

      &:after {
        background: url('data:image/svg+xml;utf8,<svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.33438 0.845998L0.908383 2.272C0.453716 2.72666 0.226383 3.11933 0.226383 3.45C0.267716 3.73933 0.515716 4.11133 0.970383 4.566L11.0144 14.548L0.970383 24.53C0.515716 24.9847 0.267716 25.3773 0.226383 25.708C0.226383 25.9973 0.453716 26.3693 0.908383 26.824L2.33438 28.25L15.0444 15.664C15.8297 14.92 15.8297 14.176 15.0444 13.432L2.33438 0.845998Z" fill="%237BD5FB"/> </svg>') no-repeat 50% 50%;
        background-size: 12px 24px;
      }
    }
  }
  &.color-scheme-pink {
    background-color: $secondary;

    .field--name-field-paragraphs {
      color: $white;

      & > .field__item {
        border-bottom: 1px solid $secondary_light;

        .paragraph--type--accordion-item.active {
          .field--name-field-title {
            color: $white;

            &:after {
              background: url('data:image/svg+xml;utf8,<svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.33438 0.845998L0.908383 2.272C0.453716 2.72666 0.226383 3.11933 0.226383 3.45C0.267716 3.73933 0.515716 4.11133 0.970383 4.566L11.0144 14.548L0.970383 24.53C0.515716 24.9847 0.267716 25.3773 0.226383 25.708C0.226383 25.9973 0.453716 26.3693 0.908383 26.824L2.33438 28.25L15.0444 15.664C15.8297 14.92 15.8297 14.176 15.0444 13.432L2.33438 0.845998Z" fill="%23ffffff"/> </svg>') no-repeat 50% 50%;
              background-size: 12px 24px;
              transform: rotateZ(90deg);
            }
          }
        }
      }
    }

    .field--name-field-title {
      color: $secondary_dark;

      &:after {
        background: url('data:image/svg+xml;utf8,<svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.33438 0.845998L0.908383 2.272C0.453716 2.72666 0.226383 3.11933 0.226383 3.45C0.267716 3.73933 0.515716 4.11133 0.970383 4.566L11.0144 14.548L0.970383 24.53C0.515716 24.9847 0.267716 25.3773 0.226383 25.708C0.226383 25.9973 0.453716 26.3693 0.908383 26.824L2.33438 28.25L15.0444 15.664C15.8297 14.92 15.8297 14.176 15.0444 13.432L2.33438 0.845998Z" fill="%23E97CA8"/> </svg>') no-repeat 50% 50%;
        background-size: 12px 24px;
      }
    }
  }

  .field--name-field-paragraphs {
    max-width: $global-width;
    margin:  0 auto;
    padding: 40px 15px;
    color: $black;
    @media only screen and (min-width : 64em) {
      padding: 80px 0;
    }

    & > .field__item {
      border-bottom: 1px solid $black;
      padding: 24px 0;

      .paragraph--type--accordion-item.active {
        .field--name-field-title {
          color: $primary;

          &:after {
            background: url('data:image/svg+xml;utf8,<svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.33438 0.845998L0.908383 2.272C0.453716 2.72666 0.226383 3.11933 0.226383 3.45C0.267716 3.73933 0.515716 4.11133 0.970383 4.566L11.0144 14.548L0.970383 24.53C0.515716 24.9847 0.267716 25.3773 0.226383 25.708C0.226383 25.9973 0.453716 26.3693 0.908383 26.824L2.33438 28.25L15.0444 15.664C15.8297 14.92 15.8297 14.176 15.0444 13.432L2.33438 0.845998Z" fill="%2327AAE1"/> </svg>') no-repeat 50% 50%;
            background-size: 12px 24px;
            transform: rotateZ(90deg);
          }
        }
      }
    }
  }

  .field--name-field-title {
    font-size: rem-calc(18);
    font-weight: 800;
    line-height: 24px;
    position: relative;
    cursor: pointer;
    padding-right: 30px;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      background: url('data:image/svg+xml;utf8,<svg width="16" height="29" viewBox="0 0 16 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.33438 0.845998L0.908383 2.272C0.453716 2.72666 0.226383 3.11933 0.226383 3.45C0.267716 3.73933 0.515716 4.11133 0.970383 4.566L11.0144 14.548L0.970383 24.53C0.515716 24.9847 0.267716 25.3773 0.226383 25.708C0.226383 25.9973 0.453716 26.3693 0.908383 26.824L2.33438 28.25L15.0444 15.664C15.8297 14.92 15.8297 14.176 15.0444 13.432L2.33438 0.845998Z" fill="%23111111"/> </svg>') no-repeat 50% 50%;
      background-size: 12px 24px;
      //transform: rotateZ(90deg);
    }

    @media only screen and (min-width : 64em) {
      font-size: rem-calc(24);
      line-height: 30px;
    }
  }

  .field--name-field-text {
    padding-top: 24px;
  }
}
