
body { background-color: #fff; padding: 0; color: $dark-gray; font-family: $body-font-family; }
a {color: $primary;}
a:hover {color: $secondary;}

/* Tab navigation */
nav.tabs ul { border-bottom:1px solid $primary; }
nav.tabs ul li a { margin-right:2px; padding:0 20px; color: $primary; }
nav.tabs ul li a.is-active, nav.tabs ul li a.is-active:hover { border:1px solid $primary; border-bottom-color:$white; background-color:transparent; color: $primary; }
nav.tabs ul li a:hover { background-color:$secondary; border-bottom:1px solid $secondary; color: $white; }

/* Drupal Buttons */
.form-submit {
  @include button($style: solid);

  // Disabled state
  &.disabled, &[disabled] {
    @include button-disabled;
  }
}
