.image-hero {
  padding: 90px 0 60px 0;
  @media only screen and (min-width : 64em) {
    padding: 190px 0 160px 0;
  }

  .field--name-field-title {
    color: $white;
    text-align: center;
    font-size: rem-calc(24);
    font-weight: 700;
    line-height: 32px;
    @media only screen and (min-width : 64em) {
      font-size: rem-calc(38);
      line-height: 42px;
    }
    @media only screen and (min-width : 75em) {
      font-size: rem-calc(48);
      line-height: 65px;
    }
  }

  .field--name-field-button {
    margin-top: 25px;
    text-align: center;
  }
}
