/*
 * @file
 * Provides the layout styles for two-column layout section.
 */
.layout-section:not(.layout--onecol-section) {
  margin: 0 -15px;
}

.layout__region {
  padding: 0 15px;
}

.layout--twocol-section:not(.with-container),
.layout--threecol-section:not(.with-container) {
  display: flex;
  flex-wrap: wrap;
}

.layout--twocol-section > .layout__region {
  flex: 0 1 100%;
}

.layout-section.full-width:not(.layout-builder__layout) {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.layout-section.full-width.with-container .container {
  display: flex;
  flex-wrap: wrap;
}

.layout-section.separator .layout__region {
  position: relative;
}

.layout-section.separator .layout__region:first-child::before {
  display: none;
}

.layout-section.separator .layout__region::before {
  content: '';
  width: 80%;
  height: 1px;
  background: #9FA8DA;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-second-top {
  margin-bottom: 24px;
  align-items: center;
}

@media only screen and (min-width : 64em) {
  .layout-section.separator .layout__region::before {
    width: 1px;
    height: 80%;
    background: #9FA8DA;
    top: 50%;
    left: 0;
    transform: translateX(0%) translateY(-50%);
  }
}

.layout__region .section-second-top {

}

@media screen and (min-width: 64em) {

  .layout--twocol-section.layout--custom-50-50 .layout__region--first {
    flex: 0 1 50%;
  }
  .layout--twocol-section.layout--custom-50-50 .layout__region--second {
    flex: 0 1 50%;
  }

  .layout--twocol-section.layout--custom-40-60 .layout__region--first {
    flex: 0 1 40%;
  }
  .layout--twocol-section.layout--custom-40-60 .layout__region--second {
    flex: 0 1 60%;
  }

  .layout--twocol-section.layout--custom-60-40 .layout__region--first {
    flex: 0 1 60%;
  }
  .layout--twocol-section.layout--custom-60-40 .layout__region--second {
    flex: 0 1 40%;
  }

  .layout--twocol-section.layout--custom-70-30 .layout__region--first {
    flex: 0 1 70%;
  }
  .layout--twocol-section.layout--custom-70-30 .layout__region--second {
    flex: 0 1 30%;
  }

  .layout--twocol-section.layout--custom-30-70 .layout__region--first {
    flex: 0 1 30%;
  }
  .layout--twocol-section.layout--custom-30-70 .layout__region--second {
    flex: 0 1 70%;
  }

  .layout--twocol-section.layout--custom-20-80 .layout__region--first {
    flex: 0 1 20%;
  }
  .layout--twocol-section.layout--custom-20-80 .layout__region--second {
    flex: 0 1 80%;
  }

  .layout--twocol-section.layout--custom-80-20 .layout__region--first {
    flex: 0 1 80%;
  }
  .layout--twocol-section.layout--custom-80-20 .layout__region--second {
    flex: 0 1 20%;
  }

  /* three columns */

  .layout--threecol-section .layout__region {
    flex: 0 1 33%;
  }
}

.layout-builder-block {
  position: relative;
}

.layout-builder-block:hover .layout-builder__actions__block {
  opacity: 1;
}
